{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Activity Feed</h1>
        {% if ponderings %}
            {% for pondering in ponderings %}
                <div class="pondering">
                    <blockquote>
                        <p>{{ pondering.content }}</p>
                        <p class="author">{% if pondering.author %}— {{ pondering.author }}{% endif %}{% if pondering.reference %}, <cite>{{ pondering.reference }}</cite>{% endif %}</p>
                    </blockquote>
                    <span class="time meta" title="{{ pondering.created_at | date:'r' }}">{{ pondering.created_at | timesince }} ago</span>
                    <ul class="inline meta">
                        <li><a href="#">Notes</a></li>
                        <li><a href="{% url 'ponderings:pondering-edit' pondering.id %}">Edit</a></li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <p>No ponderings are available.</p>
        {% endif %}
    {% else %}
        <h1>Public Ponderings</h1>
        {% if ponderings %}
            {% for pondering in ponderings %}
                <div class="pondering">
                    <blockquote>
                        <p>{{ pondering.content }}</p>
                        <p class="author">{% if pondering.author %}— {{ pondering.author }}{% endif %}{% if pondering.reference %}, <cite>{{ pondering.reference }}</cite>{% endif %}</p>
                    </blockquote>
                    <p class="time meta"><span title="{{ pondering.created_at | date:'r' }}">{{ pondering.created_at | timesince }} ago</span> by <a href="#">{{ pondering.user.username }}</a></p>
                </div>
            {% endfor %}
        {% else %}
            <p>No public ponderings are available.</p>
        {% endif %}
    {% endif %}
{% endblock %}